<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>프로필</title>
</head>
<body>
    <h1>프로필 페이지입니다.</h1>
    <p>{{user}}의 프로필 페이지입니다.</p>
    {% if user.profile_image %}
    <img src="{{ user.profile_image.url }}" alt="프로필사진">
    {% endif %}
    <table>
        <tr>
            <td>별명</td>
            <td>{{ user.nickname }}</td>
        </tr>
        <tr>
            <td>이메일</td>
            <td>{{ user.email }}</td>
        </tr>
    </table>
    
    <a href="{% url 'update' pk=user.pk %}">
        <p>회원정보수정</p>
    </a>
</body>
</html>