{% extends 'accounts/base.html' %}
{% block content %}
{% load static %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('assets/img/post-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <h1>{{post.title}}</h1>
                            <p>{{post.created_at}}</p>
                            <p>{{post.view_count}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Post Content-->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>{{post.author}}</p>
                        <p>{{post.contents}}</p>
                        {% if post.image %}
                        <img class="article-img" src="{{ post.image.url }}" alt="">
                        {% endif %}
                    </div>
                </div>
            </div>
        
        <div style="margin-top: 10px; margin-left: 30px;">
            {% if user == post.author %}
            <a class="btn btn-outline-info" href="{% url 'blog:update' post.pk %}">수정하기</a>
            <a class="btn btn-outline-info" href="{% url 'blog:delete' post.pk %}">삭제하기</a>
            {% endif %}
            <a class="btn btn-outline-info" href="{% url 'blog:blog' %}">뒤로가기</a>
        </div>
    </article>
        <!-- <section>
            <h3>
            {% for tag in post.tags.all %}
            #{{tag.name}}
            {% endfor %}</h3>
        </section> -->
            

<!-- Comments section-->
<section class="mb-5">
    <div class="card bg-light">
        <div class="card-body">
            <h5>댓글:
            {% with a=post.comments.all.count b=post.recomments.all.count %}
            {{ a|add:b }}
            {% endwith %}개</h5>
            <!-- Comment form-->
            <form action="{% url 'blog:comment_create' post.pk %}" method="post" class="mb-4">
                {% csrf_token %}
                {{ comment_form.as_p }}
                <input type="submit" value="작성">
            </form>
            <!-- 부모댓글 -->
            {% for comment in post.comments.all %}
            <div class="d-flex mb-4">
                {% if comment.author.profile_image %}
                <div class="flex-shrink-0"><img class="rounded-circle article-img" src="{{ comment.author.profile_image.url }}" alt="..." /></div>
                {% else %}
                <div class="flex-shrink-0"><img class="rounded-circle article-img" src="{% static 'assets/img/27002.jpg' %}" alt="..." /></div>
                {% endif %}
                <div class="ms-3">
                    <div class="fw-bold">{{comment.author}}-{{comment.updated_at}}</div>
                    <div>{{ comment.content }}</div>
                    {% if user == comment.author %}
                    <form action="{% url 'blog:comment_update' post.pk comment.pk %}" method="post">
                        {% csrf_token %}
                        {{ comment_form.as_p }}
                        <input class="btn btn-dark" type="submit" value="수정">
                    </form>
                    <form action="{% url 'blog:comment_delete' post.pk comment.pk %}" method="post">
                        {% csrf_token %}
                        <input class="btn btn-dark" type="submit" value="삭제">
                    </form>
                    {% endif %}
                    <!-- 부모댓글끝 -->
                    <!-- 자식댓글시작 -->
                    <form action="{% url 'blog:recomment_create' post.pk %}" method="post" class="mb-4">
                        {% csrf_token %}
                        {% for recomment in recomment_form %}
                        {% if recomment.label != 'Comment' %}
                        {{ recomment.label}} : {{recomment}}
                        {% endif %}
                        {% endfor %}
                        <input type="hidden" name="comment" value="{{ comment.pk }}">
                        <input type="submit" value="답글">
                    </form>
                        {% for recomment in comment.recomments.all %}
                        <div class="d-flex mt-4">
                            {% if recomment.author.profile_image %}
                            <div class="flex-shrink-0"><img class="rounded-circle article-img" src="{{ recomment.author.profile_image.url }}" alt="..." /></div>
                            {% else %}
                            <div class="flex-shrink-0"><img class="rounded-circle article-img" src="{% static 'assets/img/27002.jpg' %}" alt="..." /></div>
                            {% endif %}
                            <div class="ms-3">
                                <div class="fw-bold">{{recomment.author}}-{{recomment.updated_at}}</div>
                                <div>{{recomment.content}}</div>
                                {% if user == recomment.author %}
                                <form action="{% url 'blog:recomment_update' post.pk recomment.pk %}" method="post">
                                    {% csrf_token %}
                                    {{ comment_form.as_p }}
                                    <input class="btn btn-dark" type="submit" value="수정">
                                </form>
                                <form action="{% url 'blog:recomment_delete' post.pk recomment.pk %}" method="post">
                                    {% csrf_token %}
                                    <input class="btn btn-dark" type="submit" value="삭제">
                                </form>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                        <!-- 자식댓글끝 -->
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}


